/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 8
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

* { 
	margin: 0;
	padding: 0px;
  font-family:"freight-sans-pro", "Avenir Next," Helvetica, "Droid Sans", sans-serif; 
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"freight-sans-pro", "Avenir Next," Helvetica, "Droid Sans", sans-serif; 
	font-weight: 300;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
  font-family:"freight-sans-pro", "Avenir Next," Helvetica, "Droid Sans", sans-serif; 
	font-weight: 300;
	font-size: 18px; 
	line-height: 28px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 20px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

/* FORM CONFIGURATION */

input {
	font-size: 18px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: none;
	margin-bottom: 10px;
	background-color: #e9f0f2;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 70%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}

.btn-green {
	background: #03C9A9;
	color: white;
	border-radius: 2px;
}

.btn-green:hover {
	background: #1BBC9B;
	color: white
}



/* HEADER SECTION */
.wayfinding {
  background: rgba(46, 50, 52, 0.95);
  position: fixed;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 4em;
}
.wayfinding::after {
  clear: both;
  content: "";
  display: table;
}

.brand {
  float: left;
  font-size: 1em;
  margin: 1.5em 0 0;
}
.brand a {
  background: url("../img/logo-small@2x.png");
  background-size: 111px 16px;
  display: block;
  width: 111px;
  height: 16px;
  line-height: 1.5;
  overflow: hidden;
}
.brand a:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

.nav-global {
  float: right;
}
.nav-global ul {
  list-style: none;
  margin: 1.28em 0 0;
  padding: 0;
}
.nav-global ul::after {
  clear: both;
  content: "";
  display: table;
}
.nav-global ul li {
  float: left;
  margin-left: 3em;
}
.nav-global ul li a {
  color: #fff;
  display: block;
  font-size: 1.125em;
  text-decoration: none;
}
.nav-global ul li a:hover {
  text-decoration: underline;
}
.nav-global ul li a.download {
  background: url("../img/icon-appstore@2x.png") no-repeat 0 0;
  background-size: 24px 24px;
  color: #1BA3F7;
  padding: 0 0 2px 30px;
}



#h {
	background: url(../img/header.jpg) no-repeat center top;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 720px;
	padding-top: 72px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
	font-weight: 900;
	color: #fff;
	font-size: 90px;
}

#h h2 {
	color: #fff;
}

/* CALL TO ACTION SECTION */

#cta {
	padding-bottom: 15px;
	padding-top: 15px;
	background: #222628;
}

#cta p {
	color: #f2f2f2;
	font-size: 24px;
	margin:14px 0 24px;
}

/* White Section */
#w {
	padding-bottom: 25px;
	padding-top: 50px;
	color: #bfbfbf
}

#w h4 {
	color:#444;
	font-size: 24px;
	margin-top: 28px;
}

#w i {
	color: #31ABD4;
	margin-left: 5px;
	font-size: 26px;
}

/* Blue Section */

#g {
	background: #31ABD4;
	padding-bottom: 50px;
	padding-top: 50px;
	min-height: 700px;
	color: white;
}

#g h1 {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
}

#g p {
	color: white;
	font-size: 18px;
}

/* White Section */

#r {
	background: #fff;
	padding-bottom: 50px;
	padding-top: 50px;
	min-height: 700px;
	color: black;
}

#r h1 {
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 18px;
	text-align: center;
}

#r p {
	color: black;
	font-size: 18px;
}

/* Orange Section */

#b {
	background: #F87E21;
	padding-bottom: 50px;
	padding-top: 50px;
	min-height: 700px;
	color: white;
}

#b h1 {
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}

#b p {
	color: white;
	font-size: 18px;
}

/* FOOTER Section */

#f {
	padding-bottom: 50px;
	padding-top: 50px;
	background: #010101;
}

#f img {
	margin-bottom: 48px;
}

#f h3 {
	color: white;
}

#f p {
	font-size: 24px;
	margin-bottom: 36px;
}