@import 'bourbon';

// Variables
$white:         #ffffff;
$brandBlue:     #0071bc;
$lightBlue:     #16b1e7;
$darkBlue:      #005499;
$brandGold:     #f7941d;
$green:         #8bc73f;


body {
  font-family:"myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}