- content_for(:page_title) do
  | Coming Soon: KPCC for iPad
  
- content_for(:additional_head) do
  link href="stylesheets/ipad.css" media="screen" rel="stylesheet" type="text/css"
  script type="text/javascript" src="//use.typekit.net/vtu6xsq.js"
  javascript:
    try{Typekit.load();}catch(e){}

// Page Header
header.masthead
  .masthead-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC

// Page Hero
.hero.billboard
  figure
    img src="images/ipad-landing/ipad-hero.jpg" alt="KPCC on the iPad - Coming Soon"
    figcaption
      .hero-inner.bound
        p.teaseline Coming soon to your iPad
        h1 Breeze through the day's most interesting news, delivered in smart, hand-picked editions.
        .signup-form
          form action="http://scpr.us2.list-manage1.com/subscribe/post" method="post"
            input name="u" type="hidden" value="5e1e4451f92ffc0fa746da7fa"
            input name="id" type="hidden" value="3a1c51ac00"
            
            label Email me when the app launches:
            input#MERGE0 autocapitalize="off" autocorrect="off" name="MERGE0" size="25" type="email" autofocus="autofocus" placeholder="Your email address"
            
            .hidden
              input#group_1 name="group[1][1]" type="checkbox" value="1"
              input#group_2 name="group[1][2]" type="checkbox" value="1"
              input#group_4 name="group[1][4]" type="checkbox" value="1" checked="yes"
              input#group_8 name="group[1][8]" type="checkbox" value="1"
            
            input type="submit" value="Let me know!"
          form
      
// Main Content
.main
  aside.features
    .features-inner.bound
      .clearfix
        dl.feature.morning-evening
          dt Let KPCC Bookend Your Day
          dd KPCC for iPad fits into the rhythm of your day. With curated news editions for morning and evening reading, plus a live stream you can rewind hours back in time, the app works with your busy schedule.
        dl.feature.visuals
          dt Public Radio, Visualized
          dd Public radio is a way of viewing the world with curiosity and care. You hear what that sounds like every day on KPCC. But what does it look like? KPCC for iPad is brimming with the best photos and video, from Southern California and beyond.
        dl.feature.programs
          dt KPCC's Best Radio, Distilled
          dd Sometimes it can feel like there's so much good radio on KPCC that you're missing out. With our Audio Editions feature, we'll hand-pick the best segments of the day and load them into your queue. All you have to do is press play.
// Footer
footer
  .footer-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC
    p
      a href="http://www.scpr.org/terms" Terms & Conditions 
      span | 
      a href="http://www.scpr.org/privacy" Privacy 
      span| © 2013 Southern California Public Radio