- content_for(:page_title) do
  | Coming Soon: KPCC for iPad
  
- content_for(:additional_head) do
  link href="stylesheets/ipad.css" media="screen" rel="stylesheet" type="text/css"
  script type="text/javascript" src="//use.typekit.net/vtu6xsq.js"
  javascript:
    try{Typekit.load();}catch(e){}

// Page Header
header.masthead
  .masthead-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC

// Page Hero
.hero.billboard
  figure
    img src="images/ipad-landing/ipad-hero.jpg" alt="KPCC on the iPad - Coming Soon"
    figcaption
      .hero-inner.bound
        p.teaseline Coming soon to your iPad
        h1 The best listening experience for the public radio you love.
        // VERSION 2 - Highly Curated
        / h1 interesting SoCal news in- digestible, curated, and smart.
        // VERSION 3 - End of Day Reading/Listening Mix
        / h1 Catch up on your favorite programs and the day's news, all in one place.
        .signup-form
          form action="http://scpr.us2.list-manage1.com/subscribe/post" method="post"
            input name="u" type="hidden" value="5e1e4451f92ffc0fa746da7fa"
            input name="id" type="hidden" value="3a1c51ac00"
            
            label Email me when the app launches:
            input#MERGE0 autocapitalize="off" autocorrect="off" name="MERGE0" size="25" type="email" autofocus="autofocus" placeholder="Your email address"
            
            .hidden
              input#group_1 name="group[1][1]" type="checkbox" value="1"
              input#group_2 name="group[1][2]" type="checkbox" value="1"
              input#group_4 name="group[1][4]" type="checkbox" value="1"
              input#group_8 name="group[1][8]" type="checkbox" value="1" checked="yes"
            
            input type="submit" value="Let me know!"
          form
      
// Main Content
.main
  aside.features
    .features-inner.bound
      .clearfix
        dl.feature.rewind
          dt Rewind the Radio
          dd With KPCC for iPad, you can rewind the live stream and go hours back in time. Whether you want to go back 4 minutes or 4 hours, Live Rewind will take you there in a snap.
        dl.feature.queue
          dt Queue Up Audio
          dd As you discover great content, just add the audio to your queue. Use it to keep track of things you want to listen to later. Or fill it up, press play, and enjoy a continuous stream of audio.
        dl.feature.programs
          dt Programs, Your Way
          dd Tell us your favorite programs, and they will always be just a tap away in the app. We'll even add new episodes right to your queue as soon as they become available.
footer
  .footer-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC
    p
      a href="http://www.scpr.org/terms" Terms & Conditions 
      span | 
      a href="http://www.scpr.org/privacy" Privacy 
      span| © 2013 Southern California Public Radio