- content_for(:page_title) do
  | Coming Soon: KPCC for iPad
  
- content_for(:additional_head) do
  ==stylesheet_link_tag "../stylesheets/ipad.css"
  link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"

// Page Header
header.masthead
  .masthead-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC

// Page Hero
.hero.billboard.launch
  figure
    img src="http://media.scpr.org/assets/static/images/ipad-landing/ipad-hero.jpg" alt="KPCC on the iPad - Coming Soon"
    figcaption
      .hero-inner.bound
        p.teaseline Intelligent news. At your convenience.
        h1 Meet KPCC for iPad. 
        .signup-form
          label You're just a tap away from installing the pre-release.
          p: a.button.blue href="#" Download the app!
      
// Main Content
.main
  aside.features
    .features-inner.bound
      .clearfix
        dl.feature.news
          dt "The Short List"
          dd Every day, we carefully select the most interesting news from KPCC and elsewhere to create The Short List. A new Short List will be waiting for you in the morning and evening — right when you reach for your iPad.
        dl.feature.listen-read
          dt For Your Ears & Eyes
          dd KPCC is more than a radio station, and this is more than a radio app. Find award-winning stories and visual journalism, covering vital issues that matter to Southern California.
        dl.feature.rewind
          dt Listening, Your Way
          dd News happens all the time, but you're not always there to catch it. Save stories to listen to later with your queue, or have new episodes of your favorite shows automatically added.
// Footer
footer
  .footer-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC
    p
      a href="http://www.scpr.org/terms" Terms & Conditions 
      span | 
      a href="http://www.scpr.org/privacy" Privacy 
      span| © 2013 Southern California Public Radio