- content_for(:page_title) do
  | Download: KPCC for iPad Beta
  
- content_for(:additional_head) do
  ==stylesheet_link_tag "/stylesheets/ipad.css"
  link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"

// Page Header
header.masthead
  .masthead-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC

// Page Hero
.hero.billboard
  figure
    img src="http://media.scpr.org/assets/static/images/ipad-landing/ipad-hero.jpg" alt="KPCC on the iPad - Coming Soon"
    figcaption
      .hero-inner.bound
        p.teaseline You're officially invited.
        h1 We've worked hard to make an iPad app we hope you'll love as much as KPCC.
        .signup-form
          label You're just a tap away from trying out the beta.
          p: a.button.blue href="#" Install the app!
      
// Main Content
.main
  aside.features
    .features-inner.bound
      .clearfix
        dl.feature.morning-evening
          dt Editions Fit Into Your Day
          dd KPCC for iPad fits into the rhythm of your day. With curated news editions for morning and evening reading, the app works with your busy schedule.
        dl.feature.queue
          dt Your Personal Audio Queue
          dd As you discover great audio, just add it to your queue. Save things to listen to later. Or fill it up, press play, and enjoy a continuous stream of audio.
        dl.feature.programs
          dt Programs, Your Way
          dd We know you have public radio shows you can't live without. Tell us your favorite programs, and they will always be just a tap away in the app.
// Footer
footer
  .footer-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC
    p
      a href="http://www.scpr.org/terms" Terms & Conditions 
      span | 
      a href="http://www.scpr.org/privacy" Privacy 
      span| © 2013 Southern California Public Radio