- content_for(:page_title) do
  | Coming Soon: KPCC for iPad
  
- content_for(:additional_head) do
  ==stylesheet_link_tag "http://media.scpr.org/assets/static/stylesheets/ipad.css"
  link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"

// Page Header
header.masthead
  .masthead-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC

// Page Hero
.hero.billboard
  figure
    img src="http://media.scpr.org/assets/static/images/ipad-landing/ipad-hero.jpg" alt="KPCC on the iPad - Coming Soon"
    figcaption
      .hero-inner.bound
        p.teaseline Coming soon to your iPad
        h1 A new kind of news experience brought to you by KPCC. 
        .signup-form
          form action="http://scpr.us2.list-manage.com/subscribe/post?u=5e1e4451f92ffc0fa746da7fa&amp;id=eff5170a84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
            
            label Sign up for an exclusive preview:
            input autocapitalize="off" autocorrect="off" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" size="25" autofocus="autofocus" placeholder="Your email address"
            
            input type="submit" value="Sign me up!"
          form
      
// Main Content
.main
  aside.features
    .features-inner.bound
      .clearfix
        dl.feature.news
          dt "The Short List"
          dd Catching up with the day's news is fast, elegant and fun. The Short List, only on KPCC for iPad, are hand-selected editions summarizing the best stories from KPCC and across the web.
        dl.feature.listen-read
          dt For Your Ears & Eyes
          dd KPCC is more than a radio station, and this is more than a radio app. Find award-winning stories and visual journalism, covering vital issues that matter to Southern California.
        dl.feature.rewind
          dt Listening, Your Way
          dd News happens all the time, but you're not always there to catch it. Save stories to listen to later with your queue, or have new episodes of your favorite shows automatically added.
  section.always-be-closing
    .bound
      br
      br
      h1 style="text-align:center;" Intelligent news. At your convenience. 
      p style="text-align:center;" With KPCC for iPad, you can stay connected to public radio favorites that have made KPCC a trusted and valuable news source for Southern California.
// Footer
footer
  .footer-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC
    p
      a href="http://www.scpr.org/terms" Terms & Conditions 
      span | 
      a href="http://www.scpr.org/privacy" Privacy 
      span| © 2013 Southern California Public Radio