- content_for(:page_title) do
  | Coming Soon: KPCC for iPad
  
- content_for(:additional_head) do
  ==stylesheet_link_tag "stylesheets/ipad.css"
  script type="text/javascript" src="//use.typekit.net/vtu6xsq.js"
  javascript:
    try{Typekit.load();}catch(e){}

// Page Header
header.masthead
  .masthead-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC

// Page Hero
.hero.billboard
  figure
    img src="images/ipad-landing/iPadHero.jpg" alt="KPCC on the iPad - Coming Soon"
    figcaption
      .hero-inner.bound
        p.teaseline Coming soon to your iPad
        h1 The latest news in Southern California and around the world, from voices you trust.
        .signup-form
          form action="http://scpr.us2.list-manage1.com/subscribe/post" method="post"
            input name="u" type="hidden" value="5e1e4451f92ffc0fa746da7fa"
            input name="id" type="hidden" value="3a1c51ac00"
            
            label Email me when the app launches:
            input#MERGE0 autocapitalize="off" autocorrect="off" name="MERGE0" size="25" type="email" autofocus="autofocus" placeholder="Your email address"
            
            .hidden
              input#group_1 name="group[1][1]" type="checkbox" value="1" checked="yes"
              input#group_2 name="group[1][2]" type="checkbox" value="1"
              input#group_4 name="group[1][4]" type="checkbox" value="1"
              input#group_8 name="group[1][8]" type="checkbox" value="1"
            
            input type="submit" value="Let me know!"
          form
      
// Main Content
.main
  aside.features
    .features-inner.bound
      .clearfix
        dl.feature.news
          dt Radio is for Reading, Too
          dd KPCC is more than just great radio - we publish award-winning articles and visual journalism, covering vital issues that affect the region. With KPCC for iPad, you'll always get the latest news - from the voices you trust.
        dl.feature.breaking
          dt Breaking News Push Alerts
          dd When news breaks, you want to hear about it from a source you trust. KPCC for iPad will deliver push notifications to your device, so you're in the know even when you're not tuned to 89.3. 
        dl.feature.rewind
          dt Rewind the Radio
          dd With KPCC for iPad, you can rewind the live stream and go back in time to hear programming you missed. Whether you want to go back 4 minutes or 4 hours, Live Rewind will take you there in a snap.
// Footer
footer
  .footer-inner.bound
    h3.brand: a href="http://www.scpr.org" title="KPCC" KPCC
    p
      a href="http://www.scpr.org/terms" Terms & Conditions 
      span | 
      a href="http://www.scpr.org/privacy" Privacy 
      span| © 2013 Southern California Public Radio